html, body 
{
  margin: 0;
  padding: 0;
}
canvas 
{
  display: block;
}

nav
{
    padding:10px 3%;
    letter-spacing: normal;
    font-family: Verdana, sans-serif;
}

video 
{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}